<div>
  <form (ngSubmit)="search()">
    <mat-form-field>
      <input
        type="text"
        placeholder="{{placeholder}}"
        matInput
        [formControl]="searchControl">
    </mat-form-field>
    <button mat-button type="submit" style="display:none;"></button>
  </form>
</div>
<div>
  <mat-grid-list cols="1">
    <mat-grid-tile *ngFor="let suggestion of suggestions">
      <app-user-detail
        [user]="suggestion"
        (click)="onUserClick(suggestion)">
      </app-user-detail>
    </mat-grid-tile>
  </mat-grid-list>
</div>
