<!-- show the current user dialog if any logged in. Else show a login button -->
<app-dialog-button type="user" *ngIf="auth.loggedInUser;else login_button">
    <!-- name / family name isn't always available but email is. Then display the
    email if the rest isn't available -->
    <span *ngIf="auth.loggedInUser.name;else display_email">
      {{auth.loggedInUser.name}}
    </span>
    <ng-template #display_email>
      {{auth.loggedInUser.email}}
    </ng-template>
  <ng-template #other_content>Login</ng-template>
</app-dialog-button>

<ng-template #login_button>
  <button (click)="auth.login()"><img src="assets/img/connexion.svg" width="24px" alt="connexion">Login</button>
</ng-template>
