<header>
    <!-- **my comment** <mat-toolbar> -->
        <!-- **my comment** <mat-toolbar-row> -->
            <div class="brand">
                <img src="http://ronanlebideau.com/text_wn/img/logo.svg" alt="logo WhatsNext">
            </div>
            <nav>
                <ul>
                    <li><a class="connect" href="#">Se connecter</a></li>
                </ul>
            </nav>
            
            <!-- **my comment** <span>What's Next ?</span> -->
            <!-- <app-dialog-button type="user-search">Join</app-dialog-button> -->
            <!-- **my comment** <span class="fill-remaining-space"></span> -->
            <!-- **my comment** <app-auth></app-auth> -->
        <!-- **my comment** </mat-toolbar-row> -->
    <!-- **my comment** </mat-toolbar> -->
</header>