<mat-toolbar>
  <span class="logo"><img src="https://s3.amazonaws.com/whatsnext-resources/img/logo.svg" alt="WhatsNext Logo" width="180px"></span>

  <nav>

    <input type="checkbox" id="nav" class="hidden">

    <!-- Traits du burger menu -->
    <label for="nav" class="nav-btn">
      <i></i>
      <i></i>
      <i></i>
    </label>

    <div class="nav-wrapper">
      <ul>
        <li><app-auth></app-auth></li>
        <li><button (click)="auth.login()"><img src="https://s3.amazonaws.com/whatsnext-resources/img/salon.svg" width="24px" alt="lobby">Lobby</button></li>
        <li><button (click)="auth.login()"><img src="https://s3.amazonaws.com/whatsnext-resources/img/search.svg" width="24px" alt="search">Search</button></li>
        <li><button (click)="auth.login()"><img src="https://s3.amazonaws.com/whatsnext-resources/img/playlist.svg" width="24px" alt="playlist">Playlist</button></li>
      </ul>
    </div>

  </nav>
</mat-toolbar>