/* footer */
.footer-desktop{
    display:none;
}
.footer-mobile, .footer-desktop{
    background-color:#000;
    margin-top:80px;
}
.mat-nav-list{
    color:#da854c;
    font-size:1em;
    padding:45px 16px;
}
.copyright{
    color:#FFF;
    font-size: 0.8em;
    padding-bottom:25px;
}

@media screen and (min-width:768px){
    .footer-mobile{
        display:none;
    }
    .footer-desktop{
        display:block;
    }
    .footer-desktop{
        width:100%;
        position: absolute;
        background-color: #000;
    }
    .mat-nav-list .mat-list-item{
        width:auto;
        float:left;
    }
    .mat-list-item:first-child{
        margin-right:40px;
    }
    .mat-list-item:not(first-child){
        margin-right:40px;
        margin-left:40px;
    }
    .mat-list-item:last-child{
        margin-right:0;
    }
}