<app-toolbar></app-toolbar>

<!-- <mat-drawer-container> -->
  <!-- <mat-drawer mode="slide" opened>Drawer content</mat-drawer> -->

  <!-- <mat-drawer-content> -->
    <!-- if the lobby owner is set, this means that we are connected to a lobby. We need
    to display the actual app. Else, we just display the front page -->
    <div *ngIf="lobby.owner;else display_frontpage">
      <app-lobby></app-lobby>
    </div>
    <ng-template #display_frontpage>
      <app-front-page></app-front-page>
    </ng-template>
  <!-- </mat-drawer-content> -->
<!-- </mat-drawer-container> -->

<!-- Footer -->
    <footer>
        <ul>
        <li><a href="#">Se connecter</a></li>
        <li><a href="#">Paramètres</a></li>
        <li><a href="#">Aide</a></li>
        <li><a href="#">Conditions générales d'utilisation</a></li>
        <li><a href="#">Mentions légales</a></li>
        </ul>
        <p>Copyright © 2019</p>
    </footer>
<!--
<div class="footer">
  <mat-nav-list>
    <a mat-list-item href="#" *ngIf="auth.loggedInUser ;else show_login">Se déconnecter</a>
    <ng-template #show_login>
      <a mat-list-item href="#">Se connecter</a>
    </ng-template>
    <a mat-list-item href="#">Paramètres</a>
    <a mat-list-item href="#">Aide</a>
    <a mat-list-item href="#">Conditions générales d'utilisation</a>
    <a mat-list-item href="#">Mention légales</a>
  </mat-nav-list>
  <div fxLayout="row" fxLayoutAlign="center">
    <span>Copyright 2019 - tous droits réservés</span>
  </div>
</div>
-->