<app-toolbar></app-toolbar>

<!-- <mat-drawer-container> -->
  <!-- <mat-drawer mode="slide" opened>Drawer content</mat-drawer> -->

  <!-- <mat-drawer-content> -->
    <!-- if the lobby owner is set, this means that we are connected to a lobby. We need
    to display the actual app. Else, we just display the front page -->
    <div *ngIf="lobby.owner;else display_frontpage">
      <app-lobby></app-lobby>
    </div>
    <ng-template #display_frontpage>
      <app-front-page></app-front-page>
    </ng-template>
  <!-- </mat-drawer-content> -->
<!-- </mat-drawer-container> -->

<!-- Footer -->
<div class="footer">
  <mat-nav-list>
    <a mat-list-item href="#" *ngIf="auth.loggedInUser ;else show_login">Logout</a>
    <ng-template #show_login>
      <a mat-list-item href="#">Login</a>
    </ng-template>
    <a mat-list-item href="#">Settings</a>
    <a mat-list-item href="#">Help</a>
    <a mat-list-item href="#">Terms and conditions of use</a>
    <a mat-list-item href="#">Legal</a>
  </mat-nav-list>
  <div fxLayout="row" fxLayoutAlign="center">
    <span class="copyright">Copyright 2019 - All rights reserved</span>
  </div>
</div>
