<div class="header">
      <div class="presentation">
        <div fxLayout="row" fxLayoutAlign="center">
            <span>
                <h1>Vous êtes tous DJ grâce à What's Next !</h1>
                <h3>Créez vos playlists entre amis facilement et rapidement !</h3>
            </span>
        </div>


        <div *ngIf="auth.loggedInUser;else login_button">
            <div fxLayout="row" fxLayoutAlign="center">
                <button class="btn-custom mylobby" mat-button (click)="lobby.connect(auth.loggedInUser)">Mon salon</button>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
                <app-user-search class="btn-custom join"
                placeholder="Rejoindre des amis"
                (userSelected)="connectUser($event)">
                </app-user-search>
            </div>
        </div>

        <ng-template #login_button>
        <div fxLayout="row" fxLayoutAlign="center">
            <button class="btn-custom" (click)="auth.login()">Start !</button>
        </div>
        </ng-template>
    </div>
</div>

<div class="secondary" fxLayout="row" fxLayoutAlign="center">
  <span>
    <h2>How does it work ?</h2>
    <h3>Connect</h3>
    <img src="https://s3.amazonaws.com/whatsnext-resources/img/tuto1.svg" alt="shows how to connect" height="195px">
    <h3>Lead or join a lobby</h3>
    <img src="https://s3.amazonaws.com/whatsnext-resources/img/tuto2.svg" alt="shows create or join lobby" height="195px">
    <h3>Everyone joins the lobby</h3>
    <img src="https://s3.amazonaws.com/whatsnext-resources/img/tuto3.svg" alt="shows lobby" height="195px">
    <h3>Add music to the playlist</h3>
    <img src="https://s3.amazonaws.com/whatsnext-resources/img/tuto4.svg" alt="shows search music" height="195px">
  </span>
</div>

<div>
  <div fxLayout="row" fxLayoutAlign="center">
    <span>
      <h2>Les différents rôles</h2>
    </span>
  </div>
  <span>
    <h3>Le chef du salon</h3>
    C'est lui qui crée le salon, et c'est de son appareil que sort le son de la
    playlist. C'est lui qui décide des morceaux joués, de mettre la musique sur
    pause, il gère le son et
  </span>
  <span>
    <h3>Les invités du salon</h3>
    Les invités ont la possibilité de rechercher un morceau ou un artiste
    directement depuis What's Next, et d'ajouter les morceaux choisis à la
    playlist lue par l'appareil du chef.
  </span>

  <div fxLayout="row" fxLayoutAlign="center">
    <button mat-button (click)="auth.login()">I want to try !</button>
  </div>
</div>
