/* Here are the front-page.component styles */

/* "header & presentation" section */
.header{
    background: url(http://ronanlebideau.com/whatsnext/img/presentation-bg.jpg);
    background-size: cover;
    background-position:20%;
    height:90vh;
    position:relative;
}
.presentation{
    width:90%;
    position: absolute;
    left:5%;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.presentation h1{
    color:#FFF;
    font-weight: bold;
    font-size:2em;
    margin-bottom: 25px;
  }
  .presentation h3{
    color:#000;
    font-family: "Helvetica", sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom:80px;
  }
.btn-custom{
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    background-color: black;
    border-radius: 50px;
    width:280px;
    height:70px;
    color:white;
    border:none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    cursor: pointer;
  }
  .btn-custom:hover{
    background-color: white;
    color:black;
    transition:0.4s;
    cursor: pointer;
  }
  .btn-custom.mylobby{
    margin-bottom:20px;
  }
  .btn-custom.join{
      line-height:70px;
      text-align: center;
  }
/* end of "header & presentation" section */

/* "how it works" section */
.secondary{
    background-color: #fff;
    text-align: center;
    padding:45px 5%;
}
.secondary h2{
    font-size:1.6em;
    font-weight:bold;
    color:#da854c;
    margin-bottom: 40px;
}
.secondary h3{
    color:#000;
    font-size:1.4em;
}
.secondary img{
    margin-top:20px;
    margin-bottom:80px;
}
/* end of "how it works" section */

/* roles section */
.roles{
    background-color: #fff;
    background: url(http://ronanlebideau.com/whatsnext/img/illustration-bg.svg);
    background-size: cover;
    background-position:55%;
    height:900px;
    position:relative;
}
.roles-content{
    width:90%;
    position: absolute;
    left:50%;
    margin-left:-45%;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 600px;
}
.roles h2{
    font-size:1.6em;
    font-weight:bold;
    color:#FFF;
    margin-bottom: 40px;
}
.roles h3{
    color:#000;
    font-size:1.4em;
    font-weight:bold;
}
.roles p{
    font-size:1em;
    margin-bottom: 40px;
}