<main>
    <div class="hero">

        <div class="hero-img">
        <img src="http://ronanlebideau.com/text_wn/img/iphone_demo.png" alt="Smartphone using WhatsNext">
        </div>

        <div class="hero-txt">
        <h1>Vous êtes tous DJ grâce à WhatsNext !</h1>
        <strong>Créez vos playlists entre amis, simplement et rapidement.</strong>
        <a (click)="auth.login()" class="btn">Commencer !</a>
        </div>

    </div>
<!--
<div *ngIf="auth.loggedInUser;else login_button">
  <div fxLayout="row" fxLayoutAlign="center">
    <button mat-button (click)="lobby.connect(auth.loggedInUser)">Mon salon</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <app-user-search
      placeholder="Rejoindre des amis"
      (userSelected)="connectUser($event)">
    </app-user-search>
  </div>
</div>

<ng-template #login_button>
  <div fxLayout="row" fxLayoutAlign="center">
    <button mat-button (click)="auth.login()">Start !</button>
  </div>
</ng-template>
-->
    <section class="tuto">
      <h2>Comment ça marche ?</h2>
      <div class="steps">

        <div class="part">
          <p><em>Tu te connectes à WhatsNext</em></p>
          <img src="http://ronanlebideau.com/text_wn/img/tuto1.svg" alt="Connection to WhatNext">
        </div>

        <div class="part">
          <p><em>Tu crées ou tu rejoins un salon</em></p>
          <img src="http://ronanlebideau.com/text_wn/img/tuto2.svg" alt="Create or Join button">
        </div>

        <div class="part">
          <p><em>Tout le monde rejoint ce salon</em></p>
          <img src="http://ronanlebideau.com/text_wn/img/tuto3.svg" alt="Picture of the lobby with all the participants">
        </div>

        <div class="part">
          <p><em>On ajoute de la musique à la playlist !</em></p>
          <img src="http://ronanlebideau.com/text_wn/img/tuto4.svg" alt="Picture of the playlist">
        </div>

      </div>
    </section>
<!--
<div class="secondary" fxLayout="row" fxLayoutAlign="center">
  <span>
    <h2>Comment ça marche ?</h2>
    <h3>Tu te connectes</h3>
    <h3>Tu gères ton salon ou tu rejoins</h3>
    <h3>Tes amis rejoignent le salon</h3>
    <h3>Vous ajoutez vos morceaux</h3>
  </span>
</div>
-->
    <article>
      <div class="details">
        <h2>Les différents rôles</h2>
        <div class="role">
          <h3>Le chef du salon</h3>
          <p>C’est lui qui crée le salon, et c’est de son appareil que sort le son de la playlist. C’est lui qui décide des morceaux joués, de mettre la musique sur pause, il gère le son et le mode de lecture !</p>
        </div>
        <div class="role">
          <h3>Les invités du salon</h3>
          <p>Les invités ont la possibilité de rechercher un morceau ou un artiste directement depuis What’s Next, et d’ajouter les morceaux choisis à la playlist lue par l’appareil du chef de salon !</p>
        </div>
        <a href="#" class="btn">Je veux essayer !</a>
      </div>
    </article>
</main>
<!--
<div>
  <div fxLayout="row" fxLayoutAlign="center">
    <span>
      <h2>Les différents rôles</h2>
    </span>
  </div>
  <span>
    <h3>Le chef du salon</h3>
    C'est lui qui crée le salon, et c'est de son appareil que sort le son de la
    playlist. C'est lui qui décide des morceaux joués, de mettre la musique sur
    pause, il gère le son et
  </span>
  <span>
    <h3>Les invités du salon</h3>
    Les invités ont la possibilité de rechercher un morceau ou un artiste
    directement depuis What's Next, et d'ajouter les morceaux choisis à la
    playlist lue par l'appareil du chef.
  </span>


  <div fxLayout="row" fxLayoutAlign="center">
    <button mat-button (click)="auth.login()">I want to try !</button>
  </div>
</div>
-->